<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="base/baseFragments :: head"></div>
    <title>Try some stuff</title>
</head>

<header>
    <div th:insert="base/navbar :: navbar"></div>
</header>

<body class="h-screen bg-gray-900">
<div class="flex flex-col items-center justify-center pt-12">
    <div class="text-gray-200">Let´s make our software awesome!</div>
    <div class="text-gray-200">Nothing to see here yet!</div>
    <div class="text-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z" />
    </svg></div>
</div>
</body>
</html>






